src/Moodle file download.json
{
  "name": "descargar archivo moodle",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -200
      ],
      "id": "32be395c-4fc5-432c-b37a-6fad282bd005",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "moodleUrl",
              "stringValue": "http://moodle:8080"
            },
            {
              "name": "moodleToken",
              "stringValue": "cd61497cb1674e47de537ec0a0c9c5da"
            }
          ]
        },
        "options": {}
      },
      "name": "Configuración",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        100,
        -200
      ],
      "id": "5c65489a-ada4-435e-945b-4e8c130bebae"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Configuración\"].json[\"moodleUrl\"] }}/webservice/rest/server.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $node[\"Configuración\"].json[\"moodleToken\"] }}"
            },
            {
              "name": "wsfunction",
              "value": "core_course_get_courses"
            },
            {
              "name": "moodlewsrestformat",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "name": "Obtener Cursos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        -125
      ],
      "id": "792f4e45-b8b5-472b-8952-bb3c3717314d"
    },
    {
      "parameters": {
        "url": "={{ $json.moodleUrl }}/webservice/rest/server.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $json.moodleToken }}"
            },
            {
              "name": "wsfunction",
              "value": "core_course_get_contents"
            },
            {
              "name": "courseid",
              "value": "={{ $json.id}}"
            },
            {
              "name": "moodlewsrestformat",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "name": "Obtener Contenido del Curso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        -200
      ],
      "id": "ddabf5f8-65ac-4894-b5c9-10fa9cc453a7",
      "credentials": {
        "httpBearerAuth": {
          "id": "tGFaff76tBhov4lQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}&token={{ $json.moodleToken }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "name": "Descargar Archivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1780,
        -240
      ],
      "id": "86e025c5-23c8-4f51-9b98-b54db216a92a",
      "credentials": {
        "httpBearerAuth": {
          "id": "tGFaff76tBhov4lQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "output = []\n\nfor item in _input.all():\n  if item.json[\"shortname\"] == \"prueba\":\n    id = {\"id\": item.json[\"id\"]}\n    output.append(id)\n    pass\n\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -125
      ],
      "id": "36915019-68df-4f8b-8c6c-e1fb1c24a384",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        760,
        -200
      ],
      "id": "3f23692e-030c-4663-bf2b-e96e4055b7ce",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los elementos de entrada\nconst json_data = $input.all();\nconsole.log(\"Datos JSON recibidos:\", json_data);\nconsole.log(`Tipo de datos recibidos: ${typeof json_data}`);\n\n// Inicializar lista vacía para almacenar las URLs de archivos\nconst output = [];\nconsole.log(\"Lista de salida inicializada\");\n\n// Recorrer todas las secciones\nconsole.log(`Número total de secciones: ${json_data ? json_data.length : 0}`);\n(json_data || []).forEach((section, i) => {\n    console.log(`Procesando sección ${i+1}/${json_data ? json_data.length : 0}`);\n    console.log(`Nombre de la sección: ${section.json.name}`);\n    \n    // Buscar la sección con nombre \"archivos\"\n    if (section.json.name === \"archivos\") {\n        console.log(\"¡Sección 'archivos' encontrada!\");\n        console.log(`Contenido completo de la sección 'archivos': ${JSON.stringify(section)}`);\n        \n        // Verificar si hay módulos en la sección\n        const modules = section.json.modules || [];\n        console.log(`Número de módulos en la sección: ${modules.length}`);\n        \n        if (modules && modules.length > 0) {\n            const firstModule = section.json.modules[0];\n            console.log(`Primer módulo encontrado: ${JSON.stringify(firstModule)}`);\n            console.log(`ID del módulo: ${firstModule.id}`);\n            console.log(`Nombre del módulo: ${firstModule.name}`);\n            \n            // Verificar si el módulo tiene contenidos\n            const contents = firstModule.contents || [];\n            console.log(`Número de contenidos en el módulo: ${contents.length}`);\n            \n            if (firstModule.contents && firstModule.contents.length > 0) {\n                const firstContent = firstModule.contents[0];\n                console.log(`Primer contenido encontrado: ${JSON.stringify(firstContent)}`);\n                console.log(`Tipo de contenido: ${firstContent.type}`);\n                console.log(`Nombre del archivo: ${firstContent.filename}`);\n                console.log(`URL del archivo: ${firstContent.fileurl}`);\n                \n                // Añadir la URL del archivo a la salida\n                output.push(firstContent.fileurl);\n                console.log(`URL añadida a la lista de salida: ${firstContent.fileurl}`);\n            } else {\n                console.log(\"El módulo no contiene ningún contenido\");\n            }\n        } else {\n            console.log(\"La sección 'archivos' no contiene módulos\");\n        }\n    } else {\n        console.log(`Sección '${section.json.name}' ignorada - no es 'archivos'`);\n    }\n});\n\nconsole.log(`Proceso completado. URLs encontradas: ${output.length}`);\nconsole.log(`Lista final de URLs: ${JSON.stringify(output)}`);\n\n// Devolver la lista de URLs encontradas como objetos JSON\nconst result = output.map(url => ({\n    json: {\n        url: url\n    }\n}));\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -200
      ],
      "id": "5393d8ba-eaea-4c56-9211-12307b544491",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1400,
        -380
      ],
      "id": "4bd0cf83-6570-4f6f-838c-ea15a21fb963",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "moodle_docs",
          "mode": "list",
          "cachedResultName": "moodle_docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        2180,
        -200
      ],
      "id": "e31106cf-203c-4904-a864-80e4f2324024",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "O3nmsdbOk14FH0Tr",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2160,
        20
      ],
      "id": "dbcc084e-1cc6-4e9b-a95e-28008e166813",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xd45x1FuV4VQNVpk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "pubkey",
                "value": "={{ $json.name }}"
              },
              {
                "name": "=overarching_theme",
                "value": "={{ $('Extract Meta Data').item.json.output.overarching_theme }}"
              },
              {
                "name": "recurring_topics",
                "value": "={{ $('Extract Meta Data').item.json.output.recurring_topics }}"
              },
              {
                "name": "pain_points",
                "value": "={{ $('Extract Meta Data').item.json.output.pain_points }}"
              },
              {
                "name": "analytical_insights",
                "value": "={{ $('Extract Meta Data').item.json.output.analytical_insights }}"
              },
              {
                "name": "conclusion",
                "value": "={{ $('Extract Meta Data').item.json.output.conclusion }}"
              },
              {
                "name": "keywords",
                "value": "={{ $('Extract Meta Data').item.json.output.keywords }}"
              }
            ]
          }
        }
      },
      "id": "eb6d7134-3697-48d1-997b-601abe517464",
      "name": "Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2520,
        3500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000
      },
      "id": "abab71de-e297-4773-9fca-566323e35859",
      "name": "Token Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "position": [
        2620,
        3640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76dcb22e-2b98-4568-868b-34ddaea77638",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2080,
        2640
      ],
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "e8703fae-5226-404b-9d71-ed9da2ca7d0c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2920,
        3620
      ],
      "webhookId": "237d7f8a-aead-479a-b813-f407d1f37fa5",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "60d57eba-dd50-4a9e-b4bb-508b8ce6d490",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3020,
        2760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "overarching_theme",
              "description": "Summarize the main theme(s) discussed in the \"Overarching Theme\" section."
            },
            {
              "name": "recurring_topics",
              "description": "List the recurring topics mentioned in the \"Common Threads\" section as an array of strings."
            },
            {
              "name": "pain_points",
              "description": "Summarize the user's frustrations or challenges mentioned in the \"Pain Points\" section as an array of strings."
            },
            {
              "name": "analytical_insights",
              "description": "Extract a list of key analytical observations from the \"Analytical Insights\" section, including shifts in tone or behavior."
            },
            {
              "name": "conclusion",
              "description": "Summarize the conclusions drawn about the user’s threads and their overall focus."
            },
            {
              "name": "keywords",
              "description": "Generate a list of 10 keywords that capture the essence of the document (e.g., \"askNostr,\" \"decentralization,\" \"spam filtering\")."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "cf740720-4ef2-439a-8874-026fd66ac821",
      "name": "Extract Meta Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        2920,
        2600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "96fb7869-efb1-45d7-966f-7c7b3bd6b2d9",
      "name": "Get File Contents",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2720,
        2600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "07c1e422-384b-485e-8fdd-4c1682ab9d8a",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2400,
        2600
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.folder_id }}"
          }
        },
        "options": {}
      },
      "id": "11cd61ef-b881-4fd2-b7f9-02c6e00b1ced",
      "name": "Find File Ids in Google Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1280,
        2620
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "33f62e93-95a4-44b0-8578-801239c6209e",
      "name": "text-embeddings-3-large",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2380,
        3500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6f6188f-c895-4c8c-b39a-0ef55b490fd6",
              "name": "folder_id",
              "type": "string",
              "value": "[Your-Google-Folder-ID]"
            }
          ]
        },
        "options": {}
      },
      "id": "25b5f777-4a1c-4242-9a7e-021db293e457",
      "name": "Google Folder ID",
      "type": "n8n-nodes-base.set",
      "position": [
        1080,
        2620
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "823b15b7-e5ac-4b6b-9cfc-8c9b921f29fb",
      "name": "gpt-4o-mini1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1500,
        3720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OpenAIEmbeddings } = require(\"@langchain/openai\");\n\n// Qdrant connection details\nconst url = \"http://localhost:6333/\";\nconst apiKey = \"\";\n\n// OpenAI API configuration\nconst openAIApiKey = \"[Your-OpenAI-API-Key]\";\n\n// Get input data\nconst items = this.getInputData()[0];\n// console.log(items)\n\nconst collectionName =  items.json.qdrant_collection_name;\n// console.log(collectionName)\n\nasync function deleteDocumentsFromQdrant() {\n  try {\n    // Initialize OpenAI embeddings\n    const embeddings = new OpenAIEmbeddings({\n      model: \"text-embedding-3-large\",\n      openAIApiKey: openAIApiKey\n    });\n\n    // Connect to existing Qdrant collection\n    const vectorStore = await QdrantVectorStore.fromExistingCollection(embeddings, {\n      url: url,\n      apiKey: apiKey,\n      collectionName: collectionName,\n    });\n\n    const fileIds = items.json.appended_id.map(item => item);\n\n    console.log(fileIds)\n\n    // Delete points by fileId\n    const deletionResults = await Promise.all(fileIds.map(async (file_id) => {\n      const filter = {\n        must: [\n          {\n            key: \"metadata.file_id\",\n            match: { value: file_id }\n          }\n        ]\n      };\n\n      try {\n        // Access the underlying Qdrant client to perform the deletion\n        await vectorStore.client.delete(collectionName, { filter });\n        return { file_id, status: \"deleted\" };\n      } catch (error) {\n        console.error(`Error deleting documents for fileId ${file_id}:`, error);\n        return { file_id, status: \"error\", message: error.message };\n      }\n    }));\n\n    return deletionResults;\n  } catch (error) {\n    console.error(\"An error occurred during the deletion process:\", error);\n    return error.message;\n  }\n}\n\n// Execute the deletion process\ntry {\n  const result = await deleteDocumentsFromQdrant();\n  console.log(\"Deletion process completed:\", result);\n  return [];\n} catch (error) {\n  console.error(\"Failed to execute deletion process:\", error);\n  return [{ json: { error } }];\n}\n\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "c730ab51-6eb0-4936-969c-2093e8fabfc4",
      "name": "Delete Qdrant Points by File ID",
      "type": "@n8n/n8n-nodes-langchain.code",
      "position": [
        1400,
        3580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fa71e9-6cbc-4183-9439-e3379b2b970e",
              "name": "qdrant_collection_name",
              "type": "string",
              "value": "nostr-damus-user-profiles"
            }
          ]
        },
        "options": {}
      },
      "id": "42251e5f-e7ae-4ee7-b403-420769f149a8",
      "name": "Qdrant Collection Name",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        2880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "e4ad2c5f-5ced-4609-81f0-4a3fec738e19",
      "name": "File Id List",
      "type": "n8n-nodes-base.summarize",
      "position": [
        1200,
        3060
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Prepare Qdrant Vector Store",
        "height": 760,
        "width": 1180,
        "color": 3
      },
      "id": "8492bcec-40b1-4fff-8750-1649641499d9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        3340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "message": "=WARNING - {{ $json.appended_id.length }} Records in the Qdrant vector store collection \"{{ $json.qdrant_collection_name }}\" will be deleted.  Are you sure you want to continue?  This action cannot be undone!",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 15,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "id": "f1f62b86-3680-4e6a-a936-8c7ebfcb6f5a",
      "name": "Confirm Qdrant Delete Points",
      "type": "n8n-nodes-base.telegram",
      "position": [
        840,
        3540
      ],
      "webhookId": "29aac1ac-9345-4e44-babf-ebcfae701d88",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "20f530d6-fd55-420d-b8a9-70e5303f688e",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "30d8f259-d639-4467-bc52-50b14a7a4f7d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        840,
        3780
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Perform Qdrant Vector Store Operations",
        "height": 640,
        "width": 920,
        "color": 7
      },
      "id": "b29ddaa3-6a79-476c-a8bb-9011173c96d9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        3200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "Qdrant vector store upsert declined",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "73aa4004-0890-4824-be0f-2e199b137023",
      "name": "Send Declined Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1160,
        3900
      ],
      "webhookId": "382a3b43-b83f-47b1-a276-67c6b98a441a",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🌟Workflow Config\n\n- Google Drive Folder Id\n- Qdrant Collection Name\n- List of Google Drive File Id's",
        "height": 840,
        "width": 480
      },
      "id": "c2035d69-c377-4df0-9816-90c541f2d6c7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Extract Metadata for Qdrant Hybrid Search",
        "height": 420,
        "width": 640,
        "color": 6
      },
      "id": "199d4087-ab94-4343-aa41-3175459647bd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        2500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 320,
        "width": 300,
        "color": 2
      },
      "id": "3a622065-548f-4fcc-bfe2-80f54e4b9ccd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2300,
        2500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✨ Save Documents to Qdrant Vector Store",
        "height": 1480,
        "width": 1360,
        "color": 5
      },
      "id": "eca002b9-bed5-4ba6-9462-507db6435f7d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        2420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Delete From Qdrant Vector Store\nThis operation can not be undone!!!",
        "height": 400,
        "width": 420,
        "color": 5
      },
      "id": "4af07441-7050-4dcc-ae53-c2a0694086d4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        3460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Human In The Loop\nUser must verify deletion of points from Qdrant vector store",
        "height": 520,
        "width": 380,
        "color": 4
      },
      "id": "e8c70605-c8b8-4726-8ef7-222a81f20618",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        3420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👍Start Here!",
        "height": 460,
        "width": 340,
        "color": 4
      },
      "id": "97bdf290-d739-46fd-87e7-02799ca3e1c8",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "upsert",
        "options": {}
      },
      "id": "427ad61e-4fd4-4dd4-890e-6a4905d02521",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        740,
        2680
      ],
      "webhookId": "3a30557f-9264-4bc8-a253-a9356677c791",
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are an intelligent assistant specialized in answering user questions using Nostr user profiles. Your primary goal is to provide precise, contextually relevant, and concise answers based on the tools and resources available.\n\n### TOOL\nUse the \"nostr_damus_user_profiles\" tool to:\n- perform semantic similarity searches and retrieve information from Nostr user profiles relevant to the user's query.\n- access detailed information about Nostr and/or Damus users when additional context or specifics are required.\n\n### Key Instructions\n1. **Response Guidelines**:\n   - Clearly explain how the retrieved information addresses the user's query, if applicable.\n   - If no relevant information is found, respond with: \"I cannot find the answer in the available resources.\"\n\n2. **Focus and Relevance**:\n   - Ensure all responses are directly aligned with the user's question.\n   - Avoid including extraneous details or relying solely on internal knowledge.\n"
        }
      },
      "id": "85b8bb1e-0a04-4501-a4b4-a11ab157f66b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1300,
        1580
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "contextWindowLength": 40
      },
      "id": "146009b0-e531-470e-a998-1044168b4399",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1320,
        1780
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3fa4f6e6-374a-4396-bdbf-731352bcec2e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        740,
        1580
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "344ec79e-f217-4531-bc74-6312f3eff1f2",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1140,
        1780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "321537af-2a0f-4147-8eb2-8b1b78b23c95",
      "name": "text-embeddings-3-large1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1580,
        1940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖Retrieve Content from Qdrant Vector Store",
        "height": 680,
        "width": 860,
        "color": 5
      },
      "id": "69127e22-f724-43e9-af53-10db7ca09cd7",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🗣️ Chat with Your Documents",
        "height": 320,
        "width": 340,
        "color": 4
      },
      "id": "769e7078-f339-4245-a0f8-16ed109991e9",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 1 - Save Documents to Qdrant Vector Store",
        "height": 1880,
        "width": 2880,
        "color": 7
      },
      "id": "3580c951-ff3b-40b7-84c0-d619e01a6c04",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        2300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2 - Chat with Your Documents from Qdrant Vector Store",
        "height": 880,
        "width": 1780,
        "color": 7
      },
      "id": "4e1f4c93-7557-48f9-9b95-e4be7864efd3",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "=Nostr Chatbot - Avatar - {{ $now }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "52d102c8-6dac-41f3-a87a-3b0f70b0633d",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2020,
        2000
      ],
      "typeVersion": 3,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd8f88e1-19c0-4b9e-914d-e2e7ba21d9fa",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a24358a-b5b4-4504-9a45-f388ad457c01",
      "name": "Respond to User",
      "type": "n8n-nodes-base.set",
      "position": [
        2020,
        1820
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Save Chat History",
        "height": 300,
        "width": 340,
        "color": 4
      },
      "id": "c222eadd-c324-4ee4-ad55-39f923e66c7e",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1900,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1ej_qLolUFp1h4eZkrb99T3DWQ3JOwXVEMS3VUjWyVf0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n-------------------------------\n\n{{ $now }}\n\n{{ $('When chat message received').item.json.chatInput  }}\n\n{{ $json.output }}"
            }
          ]
        }
      },
      "id": "0f4d8c70-bff0-4349-8c19-7ad3e77bfc71",
      "name": "Update Chat History",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2020,
        1580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "nostr_damus_user_profiles",
        "toolDescription": "Retrieve information about Nostr or Damus users",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "nostr-damus-user-profiles",
          "cachedResultName": "nostr-damus-user-profiles"
        },
        "topK": 20,
        "options": {}
      },
      "id": "d410bb79-48a0-4ad7-914d-117eb0022804",
      "name": "Qdrant Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1480,
        1780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "646779a3-8f6a-446f-8979-bc24015d1fb7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1140,
        1960
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "Qdrant vector store upsert completed",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0e3ab4c1-96e5-45be-9db3-e649d5e28882",
      "name": "Send Completed Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2400,
        2980
      ],
      "webhookId": "382a3b43-b83f-47b1-a276-67c6b98a441a",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# 🤖 AI-Powered RAG Chatbot with Google Drive Integration\n\nThis workflow creates a powerful RAG (Retrieval-Augmented Generation) chatbot that can process, store, and interact with documents from Google Drive using Qdrant vector storage and Google's Gemini AI.\n\n## How It Works\n\n### Document Processing & Storage 📚\n- Retrieves documents from a specified Google Drive folder\n- Processes and splits documents into manageable chunks\n- Extracts metadata using AI for enhanced search capabilities\n- Stores document vectors in Qdrant for efficient retrieval\n\n### Intelligent Chat Interface 💬\n- Provides a conversational interface powered by Google Gemini\n- Uses RAG to retrieve relevant context from stored documents\n- Maintains chat history in Google Docs for reference\n- Delivers accurate, context-aware responses\n\n### Vector Store Management 🗄️\n- Features secure delete operations with human verification\n- Includes Telegram notifications for important operations\n- Maintains data integrity with proper version control\n- Supports batch processing of documents\n\n## Setup Steps\n\n1. Configure API Credentials:\n   - Set up Google Drive & Docs access\n   - Configure Gemini AI API\n   - Set up Qdrant vector store connection\n   - Add Telegram bot for notifications\n\n2. Configure Document Sources:\n   - Set Google Drive folder ID\n   - Define Qdrant collection name\n   - Set up document processing parameters\n\n3. Test and Deploy:\n   - Verify document processing\n   - Test chat functionality\n   - Confirm vector store operations\n   - Check notification system\n\n\nThis workflow is ideal for organizations needing to create intelligent chatbots that can access and understand large document repositories while maintaining context and providing accurate responses through RAG technology.\n",
        "height": 1240,
        "width": 700
      },
      "id": "9dfde106-0c99-4f2d-b66c-bc46ca597f27",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        2300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "=nostr-damus-user-profiles"
        },
        "options": {}
      },
      "id": "5a1317e4-a1cf-43ee-b2ba-43914204796c",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        2440,
        3300
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "8cea9306-176c-46a3-8b3f-3d618bb0ddd0",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "position": [
        2720,
        2980
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "02cba341-dcd6-43dc-937a-5f381917e90e",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "position": [
        1820,
        2640
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2320,
        20
      ],
      "id": "dae53d96-a433-4188-ac87-b519534e3abc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        2420,
        240
      ],
      "id": "c850d73a-ca35-40f2-b8b2-37fdffc77926",
      "name": "Token Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Configuración": {
      "main": [
        [
          {
            "node": "Obtener Cursos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Cursos": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Contenido del Curso": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Configuración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Obtener Contenido del Curso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Archivo": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send Completed Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Meta Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meta Data": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "main": [
        [
          {
            "node": "Extract Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Get File Contents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find File Ids in Google Drive Folder": {
      "main": [
        [
          {
            "node": "File Id List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qdrant Collection Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text-embeddings-3-large": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Folder ID": {
      "main": [
        [
          {
            "node": "Find File Ids in Google Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Delete Qdrant Points by File ID",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete Qdrant Points by File ID": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Qdrant Collection Name": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Id List": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Confirm Qdrant Delete Points": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete Qdrant Points by File ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Declined Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Chat History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "text-embeddings-3-large1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac734b5c-f2a8-4c57-8b85-dca6b386dff8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "670ed0d9573bf6157d43b30890c5b7c2aad833e4c5e353a4c61840f618f80956"
  },
  "id": "nrmvE9FqNHYhXTAI",
  "tags": []
}